.nav-bar{
    background-color: #121121;
    display: flex;
    
    width: 100%;
    position: fixed;
    z-index: 10;
    
    
}
html,body{
    
    height: 100%;
    margin: 0;
    background-color: black;
    
}

*{
    margin: 0;
    
}
.logo{
    height: 3rem;
    
}
.link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem 0 2rem;
    color: white;
    
    
    
    
}

.nav{
    color:white;
    border: 2px solid grey;
    
    background-color:#121121;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.1rem;
    margin-left: 2rem;
    
}
#search{
    border-radius: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 0;
    
     

}
.search{
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 20rem;
    background-color: powderblue;
    
}
.searchs{

    /*display: flex;
    justify-content: center;*/
    align-items: center;
    color: white;
    font-size: 1.5rem;
    pointer-events:none;
    opacity: 0.5;
    margin: 1rem;

}
.sear{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: auto;
    margin-right: 1rem;
}
#search:hover{
    height: 2rem;
    border-color: blue;
    border: 5px solid blue;
}
.searchs:hover{
    opacity: 1;
}
.main-content{
    background-color: black;
    height:50%;
    display: flex;
    justify-content: space-around;
    
    
    
}
.card img{
    height: 20rem;
    width: 15rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-bottom: 4rem;
}
.card{
    border: 3px solid white;
    border-radius: 10px;
    
    width: 350px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 1.5rem;
    
    
    
}
.card{
    height: 550px;
    overflow: auto;

}
.info{
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 1rem;
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    appearance: none;
}
.side-content{
    width: 100vh;
    color: wheat;
    margin-top: 2rem;
    
    
    
}   


.in{
    color: white;
    opacity: 0.5;
    
}
.place{
    appearance: none;
    width:30rem;
    height: 2.5rem;
    margin-top: 2rem;
    border-radius: 5px;
    background-color: #121121;
    box-shadow: grey;
    color: white;
}
.check{
    border-radius: 5px;
    background-color: lightskyblue;
    margin-left: 2rem;
    height: 2.5rem;
    box-shadow: silver;
    border: 3px solid silver;
    color: white;
    font-weight: 500;
}
.one{
   color: white;
}
.icon{
    color: darkslateblue;
    background-color: lightblue;
    margin: 0;
    height: 60px;
    width: 60px;
     background:#2a3560;
    border-radius:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.5rem;
    color:#7aa2ff;
    
    
}
.carding{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    
}
.four{
    margin-top: 3rem;
    width: 20rem;
    border-radius: 10px;
    padding:  1.5rem;
    background: #1c2740;
    box-shadow: 4px 4px 15px #2a3560;
    display: flex;          
    flex-direction: column; 
    gap: 1.5rem;  
    height: 10rem;
    
    

}



.card-info{
    opacity: 0.50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-infos{
    display: flex;
    
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}



.foot{
    width: 100vh;
    
}
.four-box{
    color: wheat;
    margin-top: 2rem;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer{
    background-color: #1c2740;
    color: white;
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
.foot h3{
    color: #7aa2ff;
}
.foot p{
    font-weight: 700;
}
.foot{
   /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;*/
    width: 15rem;
    height: 100%;
   
}
.footer-section a{
    text-decoration: none;
   /* display: flex;
    justify-content: center;*/
    color: #7aa2ff;
    margin-top: 1rem;
}
.footer-sections{
    /*display: flex;
    justify-content: flex-end;
    align-items: flex-end;*/
}
.footer-section{
    display: flex;
    flex-direction: column;
}
.footer-bottom{
    margin-top: 1rem;
    color: #7aa2ff;
    opacity: 0.7;
    
}
